<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/img_45"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Practzabunyanka"
        tools:targetApi="31">
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Bambl"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Estonic"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Ice"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Paf"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Cap"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Latte"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Tyr"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Americfno"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".CofeActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".SinActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".BananaActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".NutActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".VetActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".KyrActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".SemActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".NeActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".BlinActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".LOVEActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".MacActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".MindActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".TrActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ChocActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".DissActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>